@import "./clear_default";
@import "./variables";

@function get-weight($wn) {
  @return map-get($font-weight, $wn);
}

body {
  background-color: $primary-color;
  font-size: $fontsize;
  font-weight: get-weight(big);

  h1 {
    color: $text-color;
    text-transform: uppercase;
    margin: 10px;
  }
}

@mixin colorBlack($isLight: true) {
  @if $isLight {
    color: #fff;
    background: darken($bg-color, 10);
  }
}

.main-container {
  background: $bg-color;
  color: $text-color;
  &:hover {
    color: $primary-color;
  }

  @include colorBlack($isLight: false);
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
